*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    margin: 0;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    color: grey;
}


.parallex,.parallex2,.parallex3{
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.parallex{
    background-image: url(./Parallex.jpg);
    min-height: 500px;
}
.parallex2{
    background-image: url(./PARALLEX2.jpg);
    min-height: 500px;
}
.parallex3{
    background-image: url(./Parallex3.jpg);
    min-height:500px;
}
.head{
    text-align: center;
    padding:25px 80px 20px 80px;
}
.para{
    text-align: center;
    padding:0px 80px 50px 80px;
}

.parasection{
    background-color: #282a2c;;
    color: rgb(184, 180, 180);
}
.parasection2{
    background-color: #f7f7f7;
    columns: rgb(241, 235, 235);
}
.paratext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: rgb(253, 251, 251);
    font-size: 26px;
    letter-spacing: 5px;
}
.text{
    background-color: black;
    padding: 10px;
}
.text2{
    
    background-color: transparent;
}
